@using Modmail.NET.Web.Blazor.Components.Layout.Shared
@using Modmail.NET.Web.Blazor.Providers
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@attribute [AuthorizeTeam]
<RadzenComponents @rendermode="InteractiveServer"></RadzenComponents>

<RadzenLayout>
  <RadzenHeader>
    <RadzenRow>
      <RadzenColumn Size="5">
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Normal"
                     AlignItems="AlignItems.Center" Gap="0">
          <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)"/>
          <RadzenLabel Text="Modmail.NET"/>
        </RadzenStack>
      </RadzenColumn>
      <RadzenColumn Size="7">
        <RadzenStack Wrap="FlexWrap.NoWrap" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End"
                     AlignItems="AlignItems.Center" Gap="0">
          <RadzenButton Text="Account" class="rz-mx-2 rz-mx-lg-4 rz-mt-2"
                        Icon="person"
                        Click="ShowAccountDialog">
          </RadzenButton>
        </RadzenStack>
      </RadzenColumn>
    </RadzenRow>


  </RadzenHeader>
  <RadzenSidebar @bind-Expanded="@_sidebarExpanded">
    <RadzenPanelMenu>
      <RadzenPanelMenuItem Text="Dashboard" Icon="home" Path="/dashboard"/>
      <RadzenPanelMenuItem Text="Options" Icon="settings" Path="/options"/>
      <RadzenPanelMenuItem Text="Tickets" Icon="local_activity" Path="/tickets"/>
      <RadzenPanelMenuItem Text="Teams" Icon="group" Path="/teams"/>
      <RadzenPanelMenuItem Text="Blacklist" Icon="block" Path="/blacklist"/>
      <RadzenPanelMenuItem Text="Ticket Types" Icon="stacks" Path="/ticket-types"/>
      <RadzenPanelMenuItem Text="Hangfire Dashboard" Icon="grid_view" Path="/hangfire"/>
    </RadzenPanelMenu>
    @* <div class="rz-p-4"> *@
    @*   Sidebar *@
    @* </div> *@
  </RadzenSidebar>
  <RadzenBody>
    @Body
  </RadzenBody>
  <AppFooter></AppFooter>
</RadzenLayout>


<AppError></AppError>

@code {

  bool _sidebarExpanded = true;

  [CascadingParameter]
  public Task<AuthenticationState> AuthContext { get; set; }

  private bool _isAuth;

  protected override async Task OnInitializedAsync() {
    var state = await AuthContext;
    _isAuth = state.User.Identity?.IsAuthenticated == true;
  }

  private async Task ShowAccountDialog() {
    await DialogService.OpenAsync("Account",
                                  ds =>
                                    @<div>
                                      <AccountDialog></AccountDialog>
                                    </div>,
                                  new DialogOptions {
                                    Width = "450px"
                                  });
  }

}