bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.env
/.env
# Ignore appsettings.json
appsettings.json
appsettings.Development.json
appsettings.*.json
Logs/Log_*.json
Log_*.json
/Logs/Log_*.json
/Log_*.json
/publish/
log-*.json
/logs/


# Exclude appsettings.example.json from being ignored
!appsettings.example.json