@page "/"
@using Modmail.NET.Web.Blazor.Components.Layout
@inject NavigationManager NavigationManager

@code {

  [CascadingParameter]
  public Task<AuthenticationState> AuthContext { get; set; }

  protected override async Task OnInitializedAsync() {
    var state = await AuthContext;
    if (state.User.Identity?.IsAuthenticated == true) {
      NavigationManager.NavigateTo("/dashboard", false);
    }
  }

  private void NavigateToLogin() {
    NavigationManager.NavigateTo("/auth/login", true);
  }

}

@rendermode InteractiveServer
@layout EmptyLayout

<div class="container rz-mx-auto">

  <RadzenRow>
    <RadzenColumn Size="12">
      <RadzenRow>
        <RadzenColumn Size="12" class="rz-text-center">
          <RadzenText TextStyle="TextStyle.H3" class="fw-bold">
            Modmail.NET
          </RadzenText>
          <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="NavigateToLogin">
            Login with Discord
          </RadzenButton>
        </RadzenColumn>
      </RadzenRow>
    </RadzenColumn>
  </RadzenRow>
</div>