@page "/options"
@using Modmail.NET.Web.Blazor.Components.Layout.Shared
@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject DialogService DialogService
@rendermode InteractiveServer

@code {

  private GuildOption? _guildOption;

  protected override async Task OnInitializedAsync() {
    _guildOption = await GuildOption.GetNullableAsync();
    if (_guildOption is null) {
      NavigationManager.NavigateTo("/setup");
      return;
    }
  }


  private async Task SubmitAsync() {
    try {
      if (_guildOption is null) {
        throw new InvalidOperationException("Guild option is null");
      }

      var data = await GuildOption.GetAsync();
      data.TicketTimeoutHours = _guildOption.TicketTimeoutHours;
      data.IsSensitiveLogging = _guildOption.IsSensitiveLogging;
      data.TakeFeedbackAfterClosing = _guildOption.TakeFeedbackAfterClosing;
      await data.UpdateAsync();
      NotificationService.Notify(NotificationSeverity.Success, "Success", "Guild options updated successfully.");
    }
    catch (Exception e) {
      NotificationService.Notify(NotificationSeverity.Error, "Error", e.Message);
    }
  }


}

<div class="container">

  <RadzenRow>
    <RadzenColumn Size="12">
      <RadzenRow>
        <RadzenColumn Size="12">
          <RadzenText TextStyle="TextStyle.H3" class="fw-bold">
            Options
          </RadzenText>
          @* <hr class="my-4"/> *@
          <p>
            This page shows the list of options that can be configured for the bot
          </p>
        </RadzenColumn>
      </RadzenRow>
      <RadzenRow RowGap="4" class="rz-mt-5">
        @if (_guildOption is null) {
          <Loading></Loading>
        }
        else {
          <RadzenCard class="rz-shadow-7">
            <RadzenTemplateForm TItem="GuildOption" Data=@_guildOption Submit=@SubmitAsync>

              <RadzenRow class="rz-my-4">
                <RadzenSwitch @bind-Value=@_guildOption.IsEnabled/>
                <small class="text-secondary">
                  Enable bot ticket system
                </small>
              </RadzenRow>

              <RadzenRow class="rz-my-4">
                <RadzenSwitch @bind-Value=@_guildOption.IsSensitiveLogging/>
                <small class="text-secondary">
                  Enable sensitive data logging, such as message content
                </small>
              </RadzenRow>
              <RadzenRow class="rz-my-4">
                <RadzenSwitch @bind-Value=@_guildOption.TakeFeedbackAfterClosing/>
                <small class="text-secondary">
                  Enable taking feedback from user after closing a ticket
                </small>
              </RadzenRow>
              <RadzenRow class="rz-my-4">
                <RadzenSwitch Disabled="true" @bind-Value=@_guildOption.ShowConfirmationWhenClosingTickets/>
                <small class="text-secondary">
                  Show a confirmation dialog when a moderator closes a ticket (Not implemented)
                </small>
              </RadzenRow>
              <RadzenRow class="rz-my-4">
                <RadzenFormField class="w-100" Text="Ticket Timeout Hours" Variant="Variant.Filled">
                  <RadzenNumeric @bind-Value="@_guildOption.TicketTimeoutHours"/>
                </RadzenFormField>
              </RadzenRow>
              <RadzenRow>
                <small class="text-secondary">
                  The time to wait in hours before a inactive ticket is automatically closed.
                </small>
              </RadzenRow>

            
              @* <RadzenRow class="rz-my-4"> *@
              @*   <RadzenFormField Text="Greeting Message" Variant="Variant.Filled"> *@
              @*     <RadzenTextArea @bind-Value="@_guildOption.GreetingMessage" oninput="event.target.style.height = Math.max(event.target.clientHeight, event.target.scrollHeight) + 'px';" Style="min-height: 230px;min-width: 400px;max-width:  800px; white-space: pre-wrap;" aria-label="Auto-resize"/> *@
              @*   </RadzenFormField> *@
              @* *@
              @* </RadzenRow> *@
              @* <RadzenRow> *@
              @*   <small class="text-secondary"> *@
              @*     Bot's greeting message when a user opens a ticket. *@
              @*   </small> *@
              @* </RadzenRow> *@
              @* <RadzenRow class="rz-my-4"> *@
              @*   <RadzenFormField Text="Closing Message" Variant="Variant.Filled"> *@
              @*     <RadzenTextArea @bind-Value="@_guildOption.ClosingMessage" oninput="event.target.style.height = Math.max(event.target.clientHeight, event.target.scrollHeight) + 'px';" Style="min-height: 230px; min-width: 400px; max-width:  800px; white-space: pre-wrap;" aria-label="Auto-resize"/> *@
              @*   </RadzenFormField> *@
              @* *@
              @* </RadzenRow> *@
              @* <RadzenRow> *@
              @*   <small class="text-secondary"> *@
              @*     Bot's closing message when a user closes a ticket. *@
              @*   </small> *@
              @* </RadzenRow> *@

              <RadzenRow class="rz-my-4">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Save Changes" Icon="check_circle" ButtonStyle="ButtonStyle.Success"/>
              </RadzenRow>
            </RadzenTemplateForm>
          </RadzenCard>
        }

      </RadzenRow>
    </RadzenColumn>
  </RadzenRow>
</div>