<div id="blazor-error-ui" class="rz-background-color-base-800">
    <RadzenCard class="rz-shadow-7 max-w-400px rz-mx-auto rz-mt-5">
        <RadzenText TextStyle="TextStyle.DisplayH3" class="rz-color-danger fw-bold">
            ERROR 500
        </RadzenText>
        <RadzenText TextStyle="TextStyle.DisplayH4" class="rz-color-danger rz-my-5">
            An unhandled error has occurred
        </RadzenText>
        <RadzenButton class="reload" ButtonType="ButtonType.Button">
            <RadzenIcon Icon="refresh"/>
            Refresh
        </RadzenButton>
        <a href="/">
            <RadzenButton ButtonType="ButtonType.Button">
                <RadzenIcon Icon="home"/>
                Go Home
            </RadzenButton>
        </a>
    </RadzenCard>
    <div class="my-5 text-center text-danger h1">

    </div>
</div>
