/* DiscordChatMessageView.css */

.discord-message {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-bottom: 4px;
    border-bottom: 1px solid #2f3136;
}

.discord-message-header {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.discord-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.discord-username {
    font-weight: bold;
    color: #dcddde;
    margin-right: 8px;
}

.discord-timestamp {
    color: #72767d;
    font-size: 0.8em;
}

.discord-message-content {
    color: #dcddde;
    word-wrap: break-word;
}

.discord-message-attachments {
    margin-top: 8px;
}

.discord-attachment {
    display: block;
    color: #00a2e8;
    text-decoration: none;
    margin-bottom: 4px;
}

.discord-attachment:hover {
    text-decoration: underline;
}


.discord-messages-container {
    background-color: #36393f !important;
    margin: 0;
    padding: 20px;
    border-radius: 5px;
    overflow-y: auto; /* Add scrollbar if messages overflow */
    height: 100%; /* Set a maximum height for the container */
}
