@page "/setup"
@using Modmail.NET.Common.Static
@using Modmail.NET.Features.Server.Queries
@using Modmail.NET.Web.Blazor.Components.Layout
@using Modmail.NET.Web.Blazor.Extensions
@using Modmail.NET.Web.Blazor.Providers
@inject NavigationManager NavigationManager
@layout EmptyLayout
@inject ISender Sender
@attribute [AuthorizeTeam(nameof(AuthPolicy.SuperUser))]

@code {

  [CascadingParameter]
  public required Task<AuthenticationState> AuthContext { get; set; }

  protected override async Task OnInitializedAsync() {
    var state = await AuthContext;
    _ = state.User.GetUserId();
    if (await Sender.Send(new CheckSetupQuery())) {
      NavigationManager.NavigateTo("/dashboard");
    }
  }


}

<div class="container">
  <div class="row">
    <h1>Setup</h1>
    <p class="text-secondary">
      You must setup the bot before you can use the dashboard.
    </p>
    <p class="text-secondary">
      You can setup bot using bot commands through discord.
    </p>
  </div>
</div>
